/* Cart.css */

.cart_container {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.cart_wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products {
  width: 75%;
}

.scrollable {
  max-height: 70vh;
  overflow-y: scroll;
}

.cart_section {
  background-color: rgb(248, 248, 248);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .cart_wrapper {
    display: flex;
    flex-direction: column;
  }
  .products {
    width: 95.5%;
  }
}
