:root {
    --primary-color: rgb(29, 29, 29);
    --primary-color-alternative: rgb(66, 66, 66);
    --secondary-color: #ffe08c;
    --hover-color: #ce1313;
    --hover-background-color: #333;
  }

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: var(--primary-color);
    color: white;
    padding: 1em 2em;
  }


  .logo{
    font-weight: bold;
    font-size: 1.5rem;
  }

  .logo p {
    font-family: 'Japanese Style';
    letter-spacing: 4px;
  }

  .header_navbar{
    display: flex;
  }

  .header_navbar li {
    list-style: none;
    margin: 5px;
    padding: 5px;
    border: 2px solid rgb(113, 113, 113);
    border-radius: 5px;
    transition: border 0.3s;
  }

  .header_navbar li:hover {
    background: var(--hover-background-color);
    border: 2px solid var(--secondary-color);
  }


  .header_navbar a {
    text-decoration: none;
    color: white;
  }

  .header_cart{
    display: flex;
  }

  .header_cart svg {
    color: var(--secondary-color);
  }

  .header_cart span {
    margin-left: 5px;
  }

  .header_cart a {
    text-decoration: none;
    color: white;
  }

  /* @media screen and (max-width: 768px) {
    .navbar_desktop {
      display: none;
    }
  } */
