.product-container {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
  
.product-card {
  width: calc(31.33% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-card h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.product-card p {
  margin: 0;
  margin-bottom: 5px;
}
  
@media screen and (max-width: 1024px) and (min-width: 769px){
  .product-card {
    width: calc(48% - 20px);
  }
}

@media screen and (max-width: 768px) {
  .product-card {
    width: calc(100%);
  }
}